
.card button {
  margin-top: auto;
  background-color: rgb(97, 99, 97);
  color: white;
  text-align: center;
  padding: 5px;
}

.card {
  width: 1000%;
  height: 1000%;
  background-color: bisque;
  float: left;
  margin-left: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;

}

.card-body {
  display: flex;
  flex-direction: column;
}



.container {
  height: 100%;
  width: auto;
  background-color: rgb(255, 229, 229);
  margin-top: 15px;
  margin-bottom: 15px;
  grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
  overflow: auto;


}

.card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.card:hover {
  background-color: rgb(179, 179, 179);
  color: rgb(20, 4, 245);
  transform: scale(1.03);

}



.search {
  /* padding-top: 60px;
  margin-left: 530px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input{
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
  
}
.search button{
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;

  
}
.thumbnail {
  width: 800px;
  height: 450px;
  margin: 0;
  padding: 0;

}

.inputsearch {

  margin: auto;
  width: 800px;
  height: 70px;
  border-radius: 30px;
  outline: none;
  padding-left: 20px;
  font-size: 20px;


}

.card-title {
  font-weight: bolder;
}

.card-text {
  font-style: italic;
  color: rgb(255, 162, 162);
}


.header-one {
  padding: 5%;
  color: bisque;
  font-size: 400%;
}


.para {
  font-size: 150%;
}

.imaget{
  margin-top: 20px;
}

/* .App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(79deg, #2FA5DB, #A8A3A8 48%, #E753E0);
} */



.auth-form-container {
  padding: 5rem;
  border: 1px solid rgb(12, 10, 10);
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  opacity: 0.6;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  opacity: 0.2;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(142, 176, 247);
}

.link-btn {
  background: none;
  color: rgb(19, 12, 12);
  text-decoration: underline;
}

.login-dnt {
  border-radius: 10px;
}

.rrr {
  margin-left: 20px;
}


.header {
  position: relative;
}

.search-container {
  position: absolute;
  top: 50%; /* Adjust this value to position it vertically */
  left: 50%; /* Adjust this value to position it horizontally */
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.search-container p {
  margin-top: 10px;
}
/* Style for the home image */
.header img {
  display: block;
  max-width: 100%;
  height: 30rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 100rem;
}


