 /* Footer.css */

/* Container styles */
.main-footer {
  background-color: rgb(158, 158, 158);
  color: #fff;
  padding: 20px;
  width: 100%;
  position: absolute;
  position: sticky;
  display: flex;
  text-decoration: none;
   flex-direction: row; /* Make the list items horizontal */


  
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  position: relative; 
  border-top: 0; 
  width: 100%; 
  text-decoration: none;  
  justify-content: center;
  flex-direction: column;
  line-height: 10px;
  margin-top: auto;
  min-height: 20vh;
  
 
 
}
.main-container{
  flex: 1; /* Occupy remaining available space */
  position: absolute;
  /* display: flex; */

  
  

}


/* Column styles */
.col {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
 
  
}

.col h4 {
  color: #f1b127;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

}

.list-unstyled {
  list-style: none;
  padding: 5px;
  margin: 1rem 0;
  text-align: center;

  

}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
.list-unstyled li a::before {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color:  #E0B75C;

  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s;
  
}

.list-unstyled li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Social icons styles */
.socialicons {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;

}

.socialicons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-align: left;

}

/* Footer copyright text styles */
.row1 {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  


}
.row{
  list-style: none;
  padding: 5px;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
}

