/* footer.css */

/* Style the footer background color */
.footer {
    background-color: #f1f1f1;
  }
  
  /* Style the buttons in the footer section */
  .footer-btn {
    margin-right: 10px;
  }
  
  /* Style the text in the footer section */
  .footer-text {
    background-color: rgba(0, 0, 0, 0.2);
    color: #333;
    padding: 10px 0;
  }
  