/* navbar.css */

/* Style the navbar */

.navbar {
    background-color: #5a9fe5;
    
  }
  
  /* Style the links in the navbar */
  .navbar-nav .nav-link {
    color: #333;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    
  }
  
  /* Style the active link */
  .navbar-nav .nav-link.active {
    color: #007bff;
  }
  



